/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'theme.scss';

html, body, app-root, md-sidenav-container,  .site {
    width: 100%;
    height: 100%;
    margin: 0;
}

.site {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.fill-remaining-space {
    // 使用flexbox 填充剩余空间
    // @angular/material中的很多控件使用了flex布局
    flex: 1 1 auto;
    
}

.full-width {
    width: 100%;
}
